/**
 * @author ZJX
 * @desc 自动生成Alert弹窗Css
 * @arg inval
 **/

			#AlertShowbg {
				display: none;
				position: absolute;
				top: 0%;
				left: 0%;
				width: 100%;
				height: 100%;
				background-color: black;
				z-index: 1;
				-moz-opacity: 0.7;
				opacity: .70;
				filter: alpha(opacity=70);
			}
			
			#showAlert {
				display: none;
				position: absolute;
				top: 35%;
				left: 39%;
				width: 18%;
				height: 13%;
				padding: 5px;
				background-color: #FFFFFF;
				/**C0C0C0**/
				z-index: 2;
				overflow: auto;
				border-radius: 5px;
				border: 6px solid #6F7B7A;
			}
			/**提示框标题**/
			
			#showHead {
				width: 100%;
				position: absolute;
				/*border:2px solid #ee65f6;*/
				border-radius: 0px 0px 0px 0px;
				z-index: 3;
				left: 0;
				top: 0;
				background: #6F7B7A;
				text-align: left;
				font-size: 16px;
				font-family: "微软雅黑";
				color: white;
			}
			/**确认按钮or关闭按钮**/
			
			#showbottom {
				position: absolute;
				background: #C0C0C0;
				z-index: 3;
				left: 39%;
				bottom: 2px;
				border-radius: 13px;
				opacity: 0.6;
				filter: alpha(opacity=60);
				width: 21%;
				text-align: center;
			}
			/**确认按钮or关闭按钮**/
			
			#showbottom:hover {
				background: #C0C0C0;
				opacity: 1;
				filter: alpha(opacity=100);
				border-radius: 13px;
				cursor: pointer;
			}
			/**提示信息**/
			
			#textAler {
				display: block;
				word-break: break-all;
				word-wrap: break-word;
				position: absolute;
				/*border: 2px solid #6F7B7A;*/
				top: 43%;
				left: 31%;
				font-size: 15px;
				width: 50%;
			}
			/**提示匹配图标**/
			
			.messager-icon {
				position: absolute;
				left: 18%;
				top: 41%;
				width: 32px;
				height: 32px;
			}
			
			.messager-error {
				background: url('../img/messager_icons.png') no-repeat scroll -64px 0;
			}
			
			.messager-info {
				background: url('../img/messager_icons.png') no-repeat scroll 0 0;
			}
			
			.messager-question {
				background: url('../img/messager_icons.png') no-repeat scroll -32px 0;
			}
			
			.messager-warning {
				background: url('../img/messager_icons.png') no-repeat scroll -96px 0;
			}
			
			.closeWin {
				background: url('../img/panel_tools.png') no-repeat -16px 2px;
			}
			
			#closeWin {
				position: absolute;
			    top: 0%;
			    right: 0px;
			    z-index: 6;
			    display: inline-block;
			    opacity: 0.6;
			    width: 16px;
			    height: 18px;
			    filter: alpha(opacity=60);
			}
			
			#closeWin:hover {
				opacity: 1;
				filter: alpha(opacity=100);
				border-radius: 3px 3px 3px 3px;
				cursor: pointer;
			}